/fmq_proto.c
/fmq_proto.h
/ocontrol.c
/ocontrol.h
/ctrl
/ctrl.o
/fmq_proto.a.o
/fmq_proto.so.o
/fmqcli.o
/fmqsrv.o
/libfmq.so
/libocontrol.so
/ocontrol.a.o
/ocontrol.so.o
/libfmq.a
/libocontrol.a
/fmq_proto.bnf
/ocontrol.bnf
